* {
  border: 2px solid red;
}

h1 {
    font-family: "Courier New", monospace;
    font-size: x-large;
    font-weight: bold ;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font-size: medium;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li a{
    color: brown;
    text-align: center;
}
